/* ## Import fonts */
@font-face {
  font-family: 'MontserratVariable';
  src: url('.\assets\font\Montserrat\Montserrat-VariableFont_wght.ttf') format('truetype');
  /* Specify font weight range */
  font-weight: 1 800;
}
@font-face {
  font-family: 'OpenSans';
  src: url('.\assets\font\Open_Sans\OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-stretch: 75% 100%;
}

/* ## Main colors */
:root {
  /* ChatGPT's color palette */
  --color-1: #005F73; /* (dark teal) */
  --color-2: #0A9396; /* (teal) */
  --color-3: #94D2BD; /* (light green) */
  --color-4: #E9D8A6; /* (tan) */
  --color-5: #EE9B00; /* (orange) */
  --color-6: #d8dbe2;

  /* Light theme */
  --color-l1: rgb(246, 244, 210);
  --color-l2: rgb(34, 116, 165);
  --color-l3: rgb(239, 118, 122);

  /* Default dark theme */
  --color-primary: var(--color-1);
  --color-secondary: var(--color-2);
  --color-accent: var(--color-3);
  --color-text: #f0f0f0;
  --color-links: var(--color-3);
  --color-heading: var(--color-4);
}
@media (prefers-color-scheme: light) {
  :root {
    --color-primary: var(--color-4);
    --color-secondary: var(--color-l2);
    --color-accent: var(--color-l3);
    --color-text: black;
    --color-heading: var(--color-1);
  }
}


:root {
  font-family: OpenSans, MontserratVariable, sans-serif;
  line-height: 1.6;
  font-weight: 200;
  font-stretch: 100%;

  /* Dimension variables */
  --navbar-height: 64px;

  color-scheme: light dark;
  color: var(--color-text);
  background-color: var(--color-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#app {
  /* min-height: 100vh;
  min-height: -webkit-fill-available; */
  display: flex;
  flex-direction: column;
}
body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
html {
  height: -webkit-fill-available;
}

/* Page view content */
.content {
  padding: 5rem 0;
  padding-top: calc(var(--navbar-height) + 10px);
  margin: 0 calc(8px + 2vw);
  display: flex;
  flex-direction: column;
}

a {
  font-weight: 500;
  color: var(--color-links);
  text-decoration: inherit;
  transition: all 300ms ease-in-out;
}
a:hover {
  color: #FFC2E2;
}

h1 {
  font-size: clamp(2.5rem, 4vw, 3.2rem);
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.1;
  margin-bottom: 1rem;
  color: var(--color-heading);
}
/* Dark/Light auto change */

h2 {
  font-size: clamp(1rem, 2.5vw, 2rem);
  font-weight: 600;
  color: var(--color-heading);
  margin-bottom: 1rem;
}

p {
  font-size: clamp(1rem, 1.4vw, 1.5rem);
  max-width: 752px;
}

.container {
  padding: 0 5rem;
  margin: 0 auto;
}

.card {
  padding: 2em;
}

.highlight {
  will-change: color;
  transition: all 500ms;
  cursor: default;
}
.highlight:hover {
  color: var(--color-accent);
  font-stretch: 80%;
}
