:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  font-weight: 400;

  /* Color variables */
  --bg-color-light: #ffffff;
  --bg-color-dark: 53 53 53;
  --color-light: #000000;
  --color-dark: #FFFFFF;
  --highlight: #dd7596;
  --footer-dark: #417394;
  --footer-light: #49c0ba;

  /* Dimension variables */
  --navbar-height: 64px;

  color-scheme: light dark;
  color: var(--color-dark);
  background-color: var(--bg-color-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: #ddd;
  text-decoration: inherit;
}

body {
  height: 100vh;
}

h1 {
  font-size: clamp(2.5rem, 4vw, 3.2rem);
  line-height: 1.1;
  margin-bottom: 1rem;
}
h2 {
  font-size: clamp(1rem, 2.5vw, 2rem);
  margin-bottom: 1rem;
}

p {
  max-width: 652px;
}

.container {
  padding: 0 1.4rem;
  margin: 0 auto;
}

.content {
  padding: 5rem 0;
  padding-top: calc(var(--navbar-height) + 10px);
  margin: auto 5rem;
  
}

.card {
  padding: 2em;
}

.highlight {
  will-change: color;
  transition: color 300ms;
}
.highlight:hover {
  color: var(--highlight);
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-light);
    background-color: var(--bg-color-light);
  }
  a {
    color: #ddd;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
